.schedule-section {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* Background Image behind Circles */
.schedule__content {
  position: relative;
  background-image: url('../../assets/Vector.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.divider-lines-schedule {
  width: 131%;
  overflow: visible;
  margin-left: -20%;
  margin-top: -8rem;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.schedule__content h2{
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-family: "Inconsolata", monospace;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-right {
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center align items horizontally */
  margin: 0 5px; /* Adjust the margin to reduce space between columns */
}

.arrow-container {
  margin: 0 10px; /* Reduce vertical margin */
}

.image-container {
  margin: 3px 0; /* Reduce vertical margin */
}

.arrow {
  width: 70px; /* Adjust arrow image size as needed */
}

.pink-circle {
  margin-bottom: 0px;
  padding: 20px;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  top: 354px;
  left: 118px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(-400px) translateY(-60px);
}
.orange-circle {
  margin-bottom: 0px;
  padding: 20px;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(35px) translateY(-150px);
}
.yellow-circle {
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(340px) translateY(-240px);
}
.green-circle {
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(-70px) translateY(-375px);
}
.blue-circle {
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(-395px) translateY(-360px);
}
.indigo-circle {
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(50px) translateY(-415px);
}
.purple-circle {
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  transform: translateX(400px) translateY(-400px);
}

.pink-circle {
  background-color: #f19ddd;
  font-size: medium;
  color: white;

}
.pink-circle p {
background-color: #f19ddd;
color: black;
font-weight: bold;
}

.yellow-circle {
  background-color: #ffe484;
}
.yellow-circle p{
  background-color: #ffe484;
  color: black;
  font-weight: bold;
}

.blue-circle {
  background-color: #7cc8f4;
}
.blue-circle p{
  background-color: #7cc8f4;
  color: black;
  font-weight: bold;
}

.orange-circle {
  background-color: #f5b187;
}
.orange-circle p{
  background-color: #f5b187;
  color: black;
  font-weight: bold;
}

.green-circle {
  background-color: #E1FFBB;
}
.green-circle p{
  background-color: #E1FFBB;
  color: black;
  font-weight: bold;
}


.indigo-circle {
  background-color: #aaa4f6;
}
.indigo-circle p{
  background-color: #aaa4f6;
  color: black;
  font-weight: bold;
}

.purple-circle {
  background-color: #e6a4f7;
}
.purple-circle p{
  background-color: #e6a4f7;
  color: black;
  font-weight: bold;
}

.rocket-container {
  display:flex;
  justify-content: center;
}

.rocket {
  position: relative;
  transform: translateY(-400px) translateX(-60px);
  width: 20rem;
}

/*hover*/
.asdf:hover{
  transform: translateY(-10px) scale(1.2); 
}

.pink-circle,
.orange-circle,
.yellow-circle,
.green-circle,
.blue-circle,
.indigo-circle,
.purple-circle {
  transition: transform 0.3s ease-in-out; 
}

.pink-circle:hover {
  transform: translateX(-400px) translateY(-60px) scale(1.2);
}

.orange-circle:hover {
  transform: translateX(35px) translateY(-150px) scale(1.2);
}

.yellow-circle:hover {
  transform: translateX(340px) translateY(-240px) scale(1.2);
}

.green-circle:hover {
  transform: translateX(-70px) translateY(-375px) scale(1.2);
}

.blue-circle:hover {
  transform: translateX(-395px) translateY(-360px) scale(1.2);
}

.indigo-circle:hover {
  transform: translateX(50px) translateY(-415px) scale(1.2);
}

.purple-circle:hover {
  transform: translateX(400px) translateY(-400px) scale(1.2);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .divider-lines-schedule {
    margin-top: -6rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .schedule__content h2 {
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 6rem;
    font-size: 2rem;
  }

  .divider-lines {
    width: 131%;
    overflow: visible;
    margin-left: -20%;
    margin-top: -2rem;
    margin-bottom: 0rem;
  }

  .pink-box,
  .yellow-box,
  .blue-box,
  .orange-box,
  .green-box,
  .indigo-box,
  .purple-box {
    width: 100%; /* Adjusted width to fit smaller screens */
    margin-left: 0; /* Adjusted left margin to align center */
    margin-right: 0; /* Adjusted right margin to align center */
  }

  .column {
    margin: 0; /* Removed margin to reduce space between columns */
  }

  .arrow {
    width: 50px; /* Adjusted arrow image size for smaller screens */
  }
}