.speaker__content {
  display: flex;
  flex-direction: column;
}

.speaker__content h2 {
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-family: "Inconsolata", monospace;
}

.speaker__content p {
  text-align: center;
  color: var(--color-primary);
}

.speaker-img {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: auto;
}

.speaker__paragraph p {
  justify-content: left;
  text-align: left;
  padding-bottom: 1rem;
}

.speaker_column_image,
.speaker_column_text {
  float: left;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 15px;
  flex-direction: column;
}

.speaker_column_image {
  width: 50%;
}

.speaker_column_text {
  width: 70%;
}

.speaker_column_text p {
  text-align: left;
  margin: auto 0 auto 0;
  height: 100%;
}

.speaker_column_text .title {
  text-align: left;
  margin: auto 0 auto 0;
  height: 100%;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.speaker_column_text .subtitle {
  text-align: left;
  margin: auto 0 auto 0;
  height: 100%;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.speaker_row {
  display: flex;
  flex-direction: row;
}

/* Clear floats after image containers */
.speaker_row::after {
  content: "";
  clear: both;
}

/* ================ See More Link Styling ================= */

.see-more-link {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.see-more-link:hover {
  text-decoration: underline;
}

.speaker_row .speaker_column_text {
  padding: 20px;
  text-align: left;
}

.speaker_row .speaker_column_image {
  width: 40%;
  margin: 10px;
}

/* ================ MEDIA QUERIES ================= */
@media screen and (max-width: 1024px) {
  .speaker_column_text,
  .speaker_column_image {
    width: 100%;
    padding: 10px;
    margin: 10px;
  }

  .speaker_row {
    flex-direction: column;
  }
}
