.countdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1; /* Reduce vertical spacing */
}

.countdown h2 {
  font-size: 3.7rem;
  font-family: "Inconsolata", monospace;
  margin: 0;
  line-height: 1; /* Remove extra space between number and text */
}

.countdown p {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem; 
  margin: 0;
  padding-top: 2px; 
}

.colon {
  font-size: 3.5rem; 
  font-family: "Inconsolata", monospace;
  margin: 0 15px; 
  line-height: 1;
}
