.countdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1; 
}

.countdown h2 {
  font-size: 3.7rem;
  font-family: "Inconsolata", monospace;
  margin: 0;
  line-height: 1; 
}

.countdown p {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem; 
  margin: 0;
  padding-top: 2px; 
}

.colon {
  font-size: 3.5rem; 
  font-family: "Inconsolata", monospace;
  margin: 0 15px; 
  line-height: 1;
}

/* ===== MEDIA QUERIES ===== */

/* Medium devices (tablets, small laptops) */
@media screen and (max-width: 1024px) {
  .countdown h2 {
    font-size: 3.5rem;
  }

  .colon {
    font-size: 3.2rem;
  }

  .countdown p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .countdown h2 {
    font-size: 3rem;
  }

  .colon {
    font-size: 2.8rem;
  }

  .countdown p {
    font-size: 1rem;
  }
}

/* Small devices (phones) */
@media screen and (max-width: 600px) {
  .countdown h2 {
    font-size: 2.1rem;
  }

  .colon {
    font-size: 1.8rem;
  }

  .countdown p {
    font-size: .8rem;
  }
}


