.countdown__container {
    font-size: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countdown p {
    display: block;
    margin: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 100px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 4px;
    background-color: var(--color-bg);
    color: whitesmoke;
    width: 120px;
    height: 120px;
}

.countdown h2 {
    font-size: 40px;
    margin-bottom: -15px;
    margin-top: 8px;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .countdown p {
    margin: 0px 8px 0px 8px;
    border-width: 3px;
    width: 90px;
    height: 90px;
  }

  .countdown h2 {
    font-size: 30px;
    margin-bottom: -17px;
    margin-top: 6px;
}
}