@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

.member__box {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.member__box p {
    background-color: transparent;
}

.member__image {
    width: 20rem;
    height: 28rem;
    object-fit: cover;
    display: block;
}

.member__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #F1B6CA;
    border-radius: 20px;
    width: 18rem;
    height: 6rem;
}

.member__content h1 {
    font-weight: bold;
    font-size: 24px;
}

.member__content p {
    font-style: italic;
}

