.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  color: black;
}

.portfolio__content h2{
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-family: "Inria Serif", serif;
}

.portfolio__item {
  width: 80%;  /* Adjust this to control the width */
  height: auto; /* Adjust if you want a fixed height, or use auto to let it adjust based on content */
  margin: 0 auto; /* Centers the items if they are smaller than the grid column */
  background: linear-gradient(#FFA7E2,#847EF1);
  padding: 1.5rem;
  text-align: center;
  border-radius: 2rem;
  transition: var(--transition);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.portfolio__item h3 {
  margin: 1.2rem 0 0.7rem;
  text-align: left;
  font-size: 1.5rem;
}
.portfolio__item h4 {
  margin: 0rem 0 0.7rem;
  font-weight: 350;
  text-align: left;
}
.portfolio__item-cta {
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
