.about__content {
  display: flex;
  flex-direction: column;
}
.about__content h2{
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-family: "Inria Serif", serif;
}

.about__content p{
  text-align: center;
  color: var(--color-primary);
}

.about__paragraph p{
  justify-content: left;
  text-align: left;
  padding-bottom: 1rem;
}

.about_table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about_column {
  float: left;
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.about_column p {
  text-align: left;
  margin: auto 0 auto 0;
  height: 100%;
}

.about_row {
  display: flex;
  align-items: center;
}

/* Clear floats after image containers */
.about_row::after {
  content: "";
  clear: both;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .about__content p {
    margin: 1rem 0 1.5rem;
  }

  .about__content h2{
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .about_table {
    gap: 0px;
  }

  .about_row {
    flex-direction: column;
  }

  .about_column {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 10px;
  }
}


/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .about__content h2{
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .about_column {
    width: 100%;
  }

}

