.container.contact__container {
  text-align: center;
  margin-bottom: 45px;
}

.contact__container h2 {
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-family: "Inria Serif", serif;
}

.contact__header {
  text-align: left;
  padding-bottom: 30px;
}

.contact__option-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: transparent; */
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
/* @media screen and (max-width: 1024px){
  .container.contact__container {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
  
  .contact__option {
    margin-top: -20%;
  }
} */
/* MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .container.contact__container {
      width: var(--container-width-sm);
  }

  .contact__option {
    margin-top: -20%;
  }
} */