/* The overlay effect - lays on top of the container and over the image */
.galaxy-overlay {
  margin-bottom: 1rem;
  position: absolute;
  top: 0vw;
  opacity:1;
  /*z-index: -1;*/
  max-width: 70vw;
}

header {
  padding-top: 4rem;
  overflow: visible;
  font-size: 200rem;
  margin-bottom: 10rem;
  /* background-image: url(../../assets/rings.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 60rem; */
}

.header__container {
  text-align: center;
  height: 100%;
  position: static; 
}

.header {
  max-width: 100%;
}

.header h3 {
  text-align: right;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin: 1.2rem;
}
.header h4 {
  text-align: right;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 1.2rem;
}

.landing_logo img {
  position: relative;
  width: 30rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9rem;
  z-index: 1000;
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (min-width: 1500px) {
  .rings-overlay {
    top: -10vw;
    max-width: 70vw;
  }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .rings-overlay {
    top: -5vw;
    left: -5vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .rings-overlay {
    top: 0vw;
    left: -5vw;
    max-width: 100%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .landing_logo img {
    width: 16rem;
  }

  .rings-overlay {
    top: 10vw;
    left: -5vw;
    max-width: 400vw;
  }

}

@media screen and (max-width: 500px) {
  .rings-overlay {
    top: 10vw;
    left: 0vw;
    height: 220vw;
  }
}