/* The overlay effect - lays on top of the container and over the image */
.rings-overlay {
  position: absolute;
  color: #f1f1f1;
  top: 0;
  opacity:1;
  color: white;
  font-size: 20px;
  z-index: -1;
  height: auto;
  width: 75vw;
}

header {
  padding-top: 4rem;
  overflow: visible;
  font-size: 200rem;
  margin-bottom: 10rem;
  /* background-image: url(../../assets/rings.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 60rem; */
}

.header__container {
  text-align: center;
  height: 100%;
  position: static; 
}

.header {
  max-width: 100%;
}

.header h3 {
  text-align: center;
  font-size: 1.8rem;
  color: antiquewhite;
  margin: 1.2rem;
  text-shadow: 3;
}

.landing_logo img {
  width: 30rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9rem;
  z-index: 1000;
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .landing_logo img {
    width: 16rem;
  }

}