header {
  padding-top: 4rem;
  overflow: hidden;
  background-color: #242424;
  font-size: 200rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: static; 
}

.header {
  max-width: 100%;
}

.header h1 {
  font-size: 6rem;
  font-family: "DM Serif Text", sans-serif;
  background: -webkit-linear-gradient(left, #0c1870, #7A588C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  line-height: 130%;
  margin-bottom: 1rem;
  scroll-behavior: smooth;
}

.header h3 {
  text-align: center;
  font-size: 1.8rem;
  color: antiquewhite;
  margin: 1.2rem;
  text-shadow: 3;
}

.landing_logo img {
  width: 30rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9rem;
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .headerText h1 {
    font-size: 4rem;
  }

  
}