/* The overlay effect - lays on top of the container and over the image */
.galaxy-overlay {
  margin-bottom: 1rem;
  position: absolute;
  top: 0vw;
  opacity:1;
  /*z-index: -1;*/
  max-width: 70vw;
}

header {
  padding-top: 9rem;
  overflow: visible;
  font-size: 200rem;
  margin-bottom: 10rem;
  /* background-image: url(../../assets/rings.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 60rem; */
}

.header__container {
  text-align: right;
  padding-right: 5%;
  height: 100%;
  position: static; 
}

.header {
  max-width: 100%;
}

.header h3 {
  text-align: right;
  font-size: 1.8rem;
  position: relative;
  top: -12.5rem; /*Move text up */
  left: 5rem;
  color: rgb(255, 255, 255);
}
.header h4 {
  text-align: right;
  font-size: 1.5rem;
  position: relative;
  top: -11rem; 
  left: 5rem;
  color: rgb(255, 255, 255);
}

.landing_logo img {
  position: relative;
  width: 30rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9rem;
  z-index: 1000;
}

.landing_logo img:nth-child(2) {
  position: relative;
  top: 50%; /* Adjust vertically */
  left: 38%; /* Move towards the right */
  width: 360px; /* Resize if needed */
  height: auto;
  transform: translateY(-40%); /* Center vertically */
}

.timer-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  margin-top: -8rem;
  right: 0;
}

.shooting-star {
  position: absolute;
  top: -5vw; /* Adjust starting position */
  left: 35vw;
  width: 60px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
}

.shooting-star.animate {
  animation: circularMotion 2s linear forwards;
}

  /* Circular Path Animation */
  @keyframes circularMotion {
    0% { transform: translate(0, -50px) rotate(0deg); }
    12.5% { transform: translate(-400px, -50px) rotate(45deg); }
    25% { transform: translate(-650px, -50px) rotate(90deg); }
    37.5% { transform: translate(-650px, -300px) rotate(135deg); }
    50% { transform: translate(-650px, -500px) rotate(180deg); }
    62.5% { transform: translate(-400px, -500px) rotate(225deg); }
    75% { transform: translate(0, -500px) rotate(270deg); }
    87.5% { transform: translate(0, -300px) rotate(315deg); }
    100% { transform: translate(0, -100px) rotate(360deg); }
  }

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (min-width: 1500px) {
  .rings-overlay {
    top: -10vw;
    max-width: 70vw;
  }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .rings-overlay {
    top: -5vw;
    left: -5vw;
    max-width: 100%;
  }
  .timer-container {
    width: 100%;
    font-size: 1.4rem; 
    margin-top: -8rem;
  }
}

@media screen and (max-width: 800px) {
  .rings-overlay {
    top: 0vw;
    left: -5vw;
    max-width: 100%;
  }

  .timer-container {
    width: 100%;
    font-size: 1.2rem; 
    margin-top: -8rem;
  }
  
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {

  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .header h3 {
    text-align: right;
    font-size: 1.2rem;
    position: relative;
    top: -12.5rem; /*Move text up */
    left: 1.2rem;
    color: rgb(255, 255, 255);
  }
  .header h4 {
    text-align: right;
    font-size: 1rem;
    position: relative;
    top: -11rem; 
    left: 1.2rem;
    color: rgb(255, 255, 255);
  }

  .landing_logo img {
    width: 16rem;
  }

  .rings-overlay {
    top: 10vw;
    left: -5vw;
    max-width: 400vw;
  }

  .shooting-star {
    position: absolute;
    top: -5vw; /* Adjust starting position */
    left: 35vw;
    width: 10px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
  }

  /* Circular Path Animation */
@keyframes circularMotion {
  0% { transform: translate(0, -50px) rotate(0deg); }
  12.5% { transform: translate(-200px, -50px) rotate(45deg); }
  25% { transform: translate(-350px, -50px) rotate(90deg); }
  37.5% { transform: translate(-350px, -300px) rotate(135deg); }
  50% { transform: translate(-350px, -400px) rotate(180deg); }
  62.5% { transform: translate(-200px, -400px) rotate(225deg); }
  75% { transform: translate(0, -400px) rotate(270deg); }
  87.5% { transform: translate(0, -300px) rotate(315deg); }
  100% { transform: translate(0, -100px) rotate(360deg); }
}

.timer-container {
  width: 100%;
  font-size: 1rem; 
  margin-top: -8rem;
}

  .rings-overlay {
    top: -10vw;
    left: 0vw;
    height: 220vw;
  }
}