/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 67px;
    width: 100%;
    background-color: #cfcfcf;
}

.logo {
    width: 150px; /* Adjust according to your logo's size */
    height: auto;
    display: inline-block;
    padding: 20px;
}

.tabs {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    max-height: none;
    top: 0;
    position: relative;
    justify-content: right;
}

.tab {
    display: inline-block;
    padding: 10px 5px;
    transition: background-color 0.3s ease;
}

.bold {
    font-weight: bold;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style to retain the hover color on main tab during dropdown hover */
.dropdown:hover .tab {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    padding: 20px;
    display: none;
    position:fixed;
    top: 15px;
    right: 10px;
}/* Style label tag */

.hamb-line {
    background: whitesmoke;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: whitesmoke;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

@media screen and (max-width: 600px) {
    .navbar {
        height: 67px;
    }

    .logo {
        width: 100px;
        padding: 10px;
    }

    .tab {
        position: relative;
    }

    .hash-link {
        position: relative;
        min-width: 145px;
        margin-bottom: -22px;
    }

    .about {
        width: 140px; 
    }

    .tabs {
        max-height: 0;
        width: 105px;
        flex-direction: column;
        overflow: hidden;
        background-color: #f9f9f9;
        right: auto;
    }

    .hamb {
        display: block;
    }
    
    /* Show dropdown content on hover */
    .dropdown-content {
        display: block;
        padding-left: 15px;
        box-shadow: none;
        min-width: none;
    }

    /* Toggle menu icon */
    .side-menu:checked ~ .tabs{
        max-height: 100%;
        overflow: visible;
        margin-top: 113px;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    .dropdown {
        display: block;
    }
}