.divider-lines-rsvp {
  margin-bottom: -3rem;
}
.attend__container {
  height: auto; /* Allow content to define height */
  width: 40%;
  position: relative;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  align-self: right;
  border: 1px solid transparent;
  transition: var(--transition);
  padding: 2rem;
  margin: -4rem 10rem 0 auto;
  color: var(--color-primary);
  display: flex;
}

.rsvp_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align both sections to the top */
  gap: 20px;
  width: 100%;
}

.rsvp_column {
  width: 50%;
}

.rsvp_embed {
  height: 500px; /* Ensure both elements have a fixed height */
}

.rsvp_title {
  font-family: "Inconsolata", monospace;
  font-size: 3rem;
  margin-top: 0; /* Remove any default margins pushing it down */
}

.rsvp_column p {
  margin-top: 0; /* Ensure text follows the title closely */
}

.moon-graphic {
  position: relative;
  width: 7rem;
  height: auto;
  top: -5rem;
  left: 7rem;
  margin-top:20px;
}

.meteor-graphic {
  width: 15%;
  height: auto;
  position: relative;
  bottom: 45vh;
  left: 85vw;
}

.rsvp_link {
  margin: 1rem 0 0; /* Adjust spacing */
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  background-color: #857DF3;
  width: 100px;
  border-radius: 10px;
  color: black;
}

/* ================ MEDIA QUERIES (TABLETS & SMALLER) ================= */
@media screen and (max-width: 1024px) {
  .attend__container {
    width: 90%;
  }

  .rsvp_content {
    flex-direction: column-reverse;
    gap: 100px;
  }

  .moon-graphic {
    position: relative;
    width: 7rem;
    height: auto;
    top: -44rem;
    left: -1rem;
  }

  .meteor-graphic {
    width: 20%;
    height: auto;
    position: relative;
    bottom: 40rem;
    left: 80vw;
  }

  .rsvp_column {
    width: 100%;
  }
}
