.attend__container {
  height: 100%;
  width: 40%;
  position: relative;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  align-self: right;
  border: 1px solid transparent;
  transition: var(--transition);
  padding: 2rem;
  margin: -4rem 10rem 0 auto;
  color: var(--color-primary);
}

.attend__container p {
  font-size: 18px;  
}

.rsvp_link {
  margin: 1.5rem auto 0;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  background-color: #857DF3;
  width: 100px;
  border-radius: 10px;
  color: black;
}

/* =============== HEADER SOCIALS ============== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .attend__container {
    width: 90%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    /* added after tutorial */
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
  

  .attend__container {
    width: 80%;
  }

}